.main-sidebar .dropdown-menu .dropdown-item {
  padding: 5px 5px 6px 54px;
  border-bottom: 1px solid #f0f2f5;
  color: #3d5170;
  font-size: 14px;
  font-weight: 500;
}

.main-sidebar .nav .nav-item .nav-link {
  border-bottom: 1px solid #e1e5eb;
  font-weight: 600;
  color: #3d5170;
  padding: 15px 8px;
  font-size: 15px;
}

.modal-body {
  padding: 7px 2.1875rem;
}
table tr td,
table tr th {
  vertical-align: middle !important;
}

.table th,
.table td {
  padding: 2px !important;
}

.disabled_ {
  display: none !important;
  pointer-events: none;
  cursor: not-allowed;
}

.select2-container {
  display: block !important;
}

.select2-close-mask{
    z-index: 2099;
}
.select2-dropdown{
    z-index: 3051;
}

/* Apply styles to all tables */
.table2 {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
}

/* Style table headers */
.table2 th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Style alternate table rows with different background color */
.table2 tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Add hover effect to table rows */
tr:hover {
  background-color: #e0e0e0;
}

/* Style the first column (optional) */
td:first-child,
th:first-child {
  /* Add specific styles for the first column if needed */
}

/* Optional: Style specific columns */
/* td:nth-child(2),
th:nth-child(2) {
  Add styles for the second column
}
*/